@using JournalApp.Services
@implements IDisposable
@inject StateContainer State
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JournalApp</a>

        @if (State.IsAuthenticated && State.CurrentUser != null)
        {
          
        }
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @if (!State.IsAuthenticated)
        {
            <!-- HOME (ONLY BEFORE LOGIN) -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu"></span> Home
                </NavLink>
            </div>
        }

        @if (State.IsAuthenticated)
        {
            <!-- AFTER LOGIN ONLY -->

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="bi bi-plus-square-fill-nav-menu"></span> Dashboard
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="bi bi-person-circle-nav-menu"></span> Profile
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="journal">
                    <span class="bi bi-journal-text-nav-menu"></span> My Journals
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="journal/new">
                    <span class="bi bi-plus-circle-fill-nav-menu"></span> New Journal
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="calendar">
                    <span class="bi bi-calendar-week-nav-menu"></span> Calendar
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }
}
